/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}


body{

/*   -ms-overflow-style: none;  IE and Edge 
  scrollbar-width: none;   Firefox 

  background: #1040b8;
  background: -webkit-linear-gradient(0deg, #1040b8 0%, #a200b1 100%);
  background: linear-gradient(0deg, #1040b8 0%, #a200b1 100%);
background-attachment: fixed; */


background-image: url("../imgs/BACK.png") ;
    background-position: center;


    background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;

}

.asdcont{

padding: 30px;


}

.navee{

padding: 30px;


}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{

  border-radius: 10px;
  background-color: #1f1f1f;

}

.nav{
  background: #4e4e4e67;
  border-radius: 10px;


}


a{

  color: white;
  
  }

  a:hover{

    color: rgb(255, 0, 0);
    
    }
  
    img{
border-style: double;
border-color: rgb(255, 0, 0);

    }